.content {
    display: flex;
    gap: .5rem;

    .side-nav {
        background-color: white;
        width: 30%;
        text-align: left;
        display: flex;

        padding: 1rem;
    }
}


.content .main-content {
    width: 70%;
    padding: .4rem;

    .items {
        background-color: white;

        display: inline-flex;
        padding: .5rem;
        width: 10rem;
        height: 10rem;
        margin: 5px;
        border-radius: 5px;
    }
}