.navbar{

}
.terminal-look{
    background-color: #0d1926;
    height: 40rem;
    display: flex;
    color:white;
    border:1px solid rgba(192, 192, 192, 0.16);

    .main{
        width: 80%;
        text-align: left;
        display: flex;
        padding: 2rem
    }
    .sidebar{
        display: inline-flex;
        .side-icons{
            background-color: #0a141e;
            align-items: center;
        }
        .side-icons > * {
            padding: 10px;
            color:silver; 
            &:hover{
                color:white;
            }
        }
        .content{
            background-color: #0c1620;
            
            display: block;
            border-right: 1px solid rgba(192, 192, 192, 0.16);
            margin: 0;
        }
        .content > * {
            text-align: left;
            margin: 1rem;
            padding: 5px;
            &:hover{
                color:white;
            }   
        }
    }
}
.unselected{
    color: rgba(192, 192, 192, 0.146);
}
.selected{
    color: white;
}