.title-bar {
    background-color: #0a141e;
    align-items: center;
    display: flex;
    color: white;
    padding: 10px;
}
body {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #24476b7e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #081c32;
    border: 0px solid silver;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.main {
    width: 100%;
}

.main-content {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    text-align: left;
    padding: 2rem;
    text-wrap: wrap;

    @media screen and (min-device-width: 1024px) {
        height: 40rem;
    }
    @media screen and (min-device-width: 600px) and (max-device-width: 1024px) {
        height: 35rem;
    }
    @media screen and (min-device-width: 320px) and (max-device-width: 599px) {
        height: 25rem;
    }
}

.attached-items {
    display: flex;
}

.terminal-look {
    color: white;
}

.content {
    background-color: #041220;
}

/* DESKTOP */
@media (min-width:1024px) {
    p.selected {
        text-indent: 15px;
        background-color: #0a141e;
        border-left: 2px solid white;
        color: white;
    }

    .main {
        background: #041220;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../../assets/bgsbox.png");
        animation: breath 3s ease-in-out infinite;
    }

    .title-bar {
        p:first-child {

            font-size: 2rem;
        }

        .contact-icons {
            position: absolute;

            right: 10px;

        }
    }

    .date-item:nth-of-type(1) {

        animation: move .5s;
    }

    .date-item:nth-of-type(2) {
        animation: move .5s;
    }

    .date-items>* {
        margin-top: 5px;
        padding: 5px;
        transition: all .2s ease-in-out;

        &:hover {
            text-indent: 15px;
            background-color: #0a141e;
            border-left: 2px solid white;
        }

    }

    .terminal-look {
        & {
            display: flex;
        }

        .sidebar {
            display: inline-flex;

            .side-icons {
                background-color: #0a141e;
                align-items: center;
            }

            .side-icons>* {
                padding: 10px;
                color: silver;

                &:hover {
                    transition: .5s all ease-in;
                    color: white;
                }
            }

            .content {

                width: 200px;
                display: block;
                margin: 0;
            }

            .content>* {
                text-align: left;
                margin: 1rem;
                padding: 5px;


            }

            .content p {
                transition: all .2s ease-in-out;
            }
        }
    }
}

/* Mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 599px) {
    p.selected {
        transition: all .5s ease-in-out;
        background-color: #0a141e;
        border-bottom: 2px solid white;
        color: white;
    }

    .main {
        background: #041220;
        background-size: 100% 70%;
        background-repeat: no-repeat;
        background-image: url("../../assets/bgsbox.png");
        animation: breath 3s ease-in-out infinite;
    }
    .title-bar:first-child {
        font-size: 1.5rem;

    }

   

    .sidebar {
        padding: 5px;
        background-color: #0a141e;

    }

    .attached-items {
        display: block;
    }

    .side-icons {
        display: flex;
        gap: 1rem;
    }

    .side-icons>* {
        width: 150px;
    }

    .sidebar .content {
        display: flex;
        gap: 1rem;

    }


    .sidebar .content>* {
        width: 150px;
    }

    .main .main-content>* {
        margin-inline: 1rem;
    }



    img {

        width: 100%;
        height: 100%;
        object-fit: contain;

    }

    .date-items {
        visibility: collapse;
        position: absolute;
    }
}

/* Tablet */
@media only screen and (min-device-width : 600px) and (max-device-width : 1023px) {
    p.selected {
        background-color: #0a141e;
        border-left: 2px solid white;
        color: white;
    }

    .main {
        background: #041220;
        background-size: 100% 40%;
        background-repeat: no-repeat;
        background-image: url("../../assets/bgsbox.png");
        animation: breath 3s ease-in-out infinite;
    }

    .terminal-look {
        display: flex;
    }
    .date-item:nth-of-type(1) {

        animation: move .5s;
    }

    .date-item:nth-of-type(2) {
        animation: move .5s;
    }

    .date-items>* {
        margin-top: 5px;
        padding: 5px;
        transition: all .2s ease-in-out;

        &:hover {
            text-indent: 15px;
            background-color: #0a141e;
            border-left: 2px solid white;
        }

    }

    .main {
        width: 100%;
        text-align: left;
        text-wrap: wrap;
        padding: 2rem;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .sidebar {
        display: flex;

        .side-icons {
            background-color: #0a141e;
            align-items: center;
        }

        .side-icons>* {
            padding: 10px;
            color: silver;

            &:hover {
                color: white;
            }
        }

        .content {

            display: block;
            margin: 0;
        }

        .content>* {
            text-align: left;
            margin: 1rem;
            padding: 5px;


        }

        .content p {
            transition: all .2s ease-in-out;
        }
    }
}

@keyframes breath {
    0% {
        background-color: none;
    }

    50% {
        background-color: black;
    }

    100% {
        background-color: none;
    }
}

@keyframes move {
    from {
        filter: blur(5px);
        visibility: collapse;
        transform: translateY(-100%);
    }

    to {
        filter: blur(0);
        visibility: visible;
        transform: translateY(0);
    }
}