.navbar{

}
.terminal-look{
    background-color: #0d1926;
    height: 30rem;
    display: flex;
    color:white;
    border:1px solid rgba(192, 192, 192, 0.16);
    .main{
        width: 80%;
    }
    .sidebar{
        display: flex;
        width: 20%;
        
        .side-icons{
            background-color: #0a141e;
            
            width: 20%;
            align-items: center;
        }
        .side-icons > * {
            padding: 10px;
            color:silver; 
            
            &:hover{
                color:white;
            }
        }
        .content{
            background-color: #0c1620;
            width: 60%;
            display: block;
            border-right: 1px solid rgba(192, 192, 192, 0.16);
            
        }
        .content > * {
            text-align: left;
            margin: 1rem;
            padding: 5px;
            &:hover{
                color:white;
            }   
        }
    }
}
.main{
    text-align: left;
}
.unselected{
    color: rgba(192, 192, 192, 0.146);
}
.selected{
    color: white;
}