.item{
    background-image: url("../../assets/itembg.png");
    background-color: black;
    background-size: cover;
    padding: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.attached-items {
  
    gap: 1rem;
}
.attached-items .item-card img {
    border-radius: 5px;
}
.item button {
    background-color: black;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
    margin: 1rem;
    &:hover{
        border-bottom: 2px solid white;
        border-right: 1px solid white;
    }
}
