.info-name {

    margin: 0;
    padding: 0;

    @media only screen and (min-device-width : 1024px) {
        font-size: 8rem;
        display: flex;
    }

    @media only screen and (min-device-width : 600px) and (max-device-width : 1023px) {
        font-size: 6.5rem;
        text-align: center;
        * {
            display: block;
        }
    }

    @media only screen and (min-device-width: 320px) and (max-device-width : 599px) {
        font-size: 4.5rem;
        text-align: center;
        *{
            display: block;
        }
    }
}

.row {
    padding: 5px;


    @media only screen and (min-device-width : 1024px) {
        display: flex;

        .column {
            width: 50%;
            padding: 15px;
        }
    }

}

.column {
    transition: .2s all ease-in-out;

}
.tile {
    display: inline-block; /* Display tiles inline */
    margin-inline: 2px;
    transition: all .2s ease-in-out;
    box-sizing: border-box; /* Include padding in width calculation */

    img {
        align-content: center;
        align-self: center;
        height: 50px;
        width: auto;
    }
}

/* Add break after every 4th .tile */
.tile:nth-child(4n) {
    margin-right: 0; /* Remove right margin for the last tile in the row */
}


p {
    margin: 0;
}

.contact-icons {
    display: flex;
    gap: 2px;
}

.contact-icons>* {
    padding: 5px;
    width: 50px;
    height: 50px;
    align-content: center;
    text-align: center;
    transition: .1s all ease-in-out;

    &:hover {
        font-size: larger;
        border-bottom: 3px solid white;
    }
}



.cont {
    font-size: 30px;
}