.info-name {
    font-size: 8rem;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    gap: 15px;

    .column {
        width: 50%;
        padding:15px;
    }
}

.column {
    
    border-radius: 15px;
    transition: .2s all ease-in-out;
    
        
    background-size: cover ;
    background-image: url("../../assets/bgsbox.png"); 
    &:hover {
        
        background-color: #0a141e;
        
        
    }
}

.table {
    display: flex;
    gap: 5px;

    .tile {

        width: auto;
        display: block;
        padding: 5px;
    }

}

p {
    margin: 0;
}

.contact-icons {
    display: flex;
    gap: 2px;
}

.contact-icons>* {
    padding: 5px;
    width: 50px;
    height: 50px;
    align-content: center;
    text-align: center;
    transition: .1s all ease-in-out;

    &:hover {
        font-size: larger;
        border-bottom: 3px solid white;
    }
}

.title-bar .contact-icons {
    position: absolute;
    padding: 5px;
    right: 0px;

}

.cont {
    font-size: 30px;
}