.info-name {

    margin: 0;
    padding: 0;


}

.my-pic {
    height: 10px;
    width: auto;
    border-radius: 15rem;
    margin: auto;
    display: block;
}

@media only screen and (min-device-width : 1024px) {
    .info-name {
        font-size: 7rem;
        text-align: center;
    }
    .my-pic{
        height: 15rem;
    }
}

@media only screen and (min-device-width : 480px) and (max-device-width : 1023px) {
    .info-name {
        font-size: 5.5rem;
        text-align: center;

        * {
            display: block;
        }
    }
    .my-pic{
        height: 13rem;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .info-name {
        font-size: 3rem;
        text-align: center;

        * {
            display: block;
        }
    }
    .my-pic{
        height: 8rem;
    }
}

.row {
    padding: 5px;


    @media only screen and (min-device-width : 1024px) {
        display: flex;

        .column {
            width: 50%;
            padding: 15px;
        }
    }

}



.table {
    display: flex;
    gap: 5px;
    .tile {
        width: auto;
        display: block;
        padding: 5px;
        img {
            align-content: center;
            align-self: center;
            height: 50px;
            width: auto;

        }
    }

}

p {
    margin: 0;
}

.contact-icons {
    display: flex;
    gap: 2px;
}

.contact-icons>* {
    padding: 5px;
    width: 50px;
    height: 50px;
    align-content: center;
    text-align: center;
    transition: .1s all ease-in-out;

    &:hover {
        font-size: larger;
        border-bottom: 3px solid white;
    }
}



.cont {
    font-size: 30px;
}